<!DOCTYPE html>
<html lang="en">
    <head>                        
        <title>Boooya - Mobile Navigation</title>            
        
        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" href="css/styles.css">
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>        
        
        <!-- APP WRAPPER -->
        <div class="app app-navigation-moblie-wrapper">
            <div class="app-navigation-mobile">
                <ul>
                    <li><a href="index.html"><span class="icon-home"></span> Home</a></li>
                    <li><a href="#"><span class="icon-lamp"></span> About Us</a></li>
                    <li><a href="#"><span class="icon-picture3"></span> Portfolio</a></li>
                    <li><a href="#"><span class="icon-map-marker"></span> Contacts</a></li>
                    <li><a href="#"><span class="icon-lifebuoy"></span> Support</a></li>
                    <li><a href="#"><span class="icon-exit-right"></span> Sign Up</a></li>
                </ul>
            </div>
            
            <!-- START APP CONTAINER -->
            <div class="app-container">                
                <!-- START APP CONTENT -->
                <div class="app-content">
                    <!-- START APP HEADER -->
                    <div class="app-header">
                        <ul class="app-header-buttons">
                            <li><a href="#" class="btn btn-link btn-icon" data-navigation-mobile-toggle="true"><span class="icon-menu2"></span></a></li>        
                        </ul>                    
                    </div>
                    <!-- END APP HEADER  -->
                    
                    <!-- START PAGE HEADING -->
                    <div class="app-heading app-heading-bordered app-heading-page">
                        <div class="icon icon-lg">
                            <span class="icon-smartphone"></span>
                        </div>
                        <div class="title">
                            <h2>Mobile Navigation</h2>
                            <p>Example of mobile navigation</p>
                        </div>      
                        <!--<div class="heading-elements">
                            <a href="#" class="btn btn-danger" id="page-like"><span class="app-spinner loading"></span> loading...</a>
                        </div>-->
                    </div>
                    <div class="app-heading-container app-heading-bordered bottom">
                        <ul class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Layouts</a></li>
                            <li class="active">Mobile Navigation</li>
                        </ul>
                    </div>
                    <!-- END PAGE HEADING -->                                        
                    
                    <!-- START PAGE CONTAINER -->
                    <div class="container">
                        
                        <!-- START BLOCk -->
                        <div class="block">
                            
                            <!-- START PAGE HEADING -->
                            <div class="app-heading app-heading-small">                                
                                <div class="title">
                                    <h2>Information</h2>
                                    <p>Mobile ready navigation</p>
                                </div>                                
                            </div>
                            <!-- END PAGE HEADING -->
                                                        
                            <p>Add class <code>.app-navigation-moblie-wrapper</code> to <code>.app</code> to get this feature working.</p>
                            <p>Then you can use navigation-mobile markup inside <code>.app</code> to add your navigation.</p>
                            <p>Add <code>data-navigation-mobile-toggle="true"</code> to any button to open navigation.</p>
                            <p><strong>Important!</strong> This is simple navigation, so it's not supports any other features. But it can be customized by yourself.</p>                            
                            <p>
                                <button class="btn btn-default" data-navigation-mobile-toggle="true"><span class="icon-border-left"></span> Toggle Mobile Navigation</button>
                            </p>
                        </div>
                        <!-- END BLOCk -->
                        
                    </div>
                    <!-- END PAGE CONTAINER -->
                    
                </div>
                <!-- END APP CONTENT -->
                                
            </div>
            <!-- END APP CONTAINER -->            
            
        </div>        
        <!-- END APP WRAPPER -->                
        
        <!-- START SCRIPTS -->
        <script type="text/javascript" src="js/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/vendor/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/moment/moment.min.js"></script>       
        
        <script type="text/javascript" src="js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap-select/bootstrap-select.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        
        <script type="text/javascript" src="js/vendor/maskedinput/jquery.maskedinput.min.js"></script>
        <script type="text/javascript" src="js/vendor/form-validator/jquery.form-validator.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/noty/jquery.noty.packaged.js"></script>
        
        <script type="text/javascript" src="js/vendor/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/vendor/datatables/dataTables.bootstrap.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/sweetalert/sweetalert.min.js"></script>
        <script type="text/javascript" src="js/vendor/knob/jquery.knob.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap.min.js"></script>
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
        
        <script type="text/javascript" src="js/vendor/sparkline/jquery.sparkline.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/morris/raphael.min.js"></script>
        <script type="text/javascript" src="js/vendor/morris/morris.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="js/vendor/rickshaw/rickshaw.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/isotope/isotope.pkgd.min.js"></script>
        
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/app_plugins.js"></script>
        <script type="text/javascript" src="js/app_demo.js"></script>
        <!-- END SCRIPTS -->
    </body>
</html>