<!DOCTYPE html>
<html lang="en">
    <head>                        
        <title>Boooya - Blog - Main 2</title>            
        
        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" href="css/styles.css">
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>        
        
        <!-- APP WRAPPER -->
        <div class="app">                       
            
            <!-- START APP CONTAINER -->
            <div class="app-container">                
                <!-- START APP HEADER -->
                <div class="app-header">
                    <div class="container container-boxed">
                        <ul class="app-header-buttons visible-mobile">
                            <li><a href="#" class="btn btn-link btn-icon" data-navigation-horizontal-toggle="true"><span class="icon-menu"></span></a></li>                    
                        </ul>
                        <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">Project</a>
                
                        <ul class="app-header-buttons pull-right">
                            <li>
                                <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                                    <img src="assets/images/users/user_1.jpg" alt="John Doe">
                                    <div class="contact-container">
                                        <a href="#">John Doe</a>
                                        <span>Administrator</span>
                                    </div>
                                    <div class="contact-controls">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown"><span class="icon-cog"></span></button>                        
                                            <ul class="dropdown-menu dropdown-left">
                                                <li><a href="#"><span class="icon-cog"></span> Settings</a></li> 
                                                <li><a href="#"><span class="icon-envelope"></span> Messages <span class="label label-danger pull-right">+24</span></a></li>
                                                <li><a href="#"><span class="icon-users"></span> Contacts <span class="label label-default pull-right">76</span></a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"><span class="icon-exit-right"></span> Log Out</a></li> 
                                            </ul>
                                        </div>                    
                                    </div>
                                </div>
                            </li>        
                        </ul>
                    </div>
                </div>
                <!-- END APP HEADER  -->
                
                <!-- START APP CONTENT -->
                <div class="app-content">
                    <div class="app-navigation-horizontal margin-bottom-15">    
                        <div class="container container-boxed">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#"><span class="icon-earth"></span> Main</a>
                                        <ul>
                                            <li><a href="pages-blog-main.html">Variant 1</a></li>                        
                                            <li><a href="pages-blog-main-2.html">Variant 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="icon-sync"></span> Category</a>
                                        <ul>
                                            <li><a href="pages-blog-category.html">Right Sidebar</a></li>
                                            <li><a href="pages-blog-category-2.html">Left Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="icon-cog"></span> Single</a>
                                        <ul>
                                            <li><a href="pages-blog-single.html">Variant 1</a></li>                        
                                        </ul>
                                    </li>                
                                </ul>
                            </nav>
                        </div>
                    </div>
                                                                                                  
                    <!-- START PAGE CONTAINER -->
                    <div class="container container-boxed">                                                                                                                                                
                        
                        <div class="block padding-top-20">
                            
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="text-uppercase text-bold text-lg heading-line-below margin-bottom-20">Latest News</h4>
                                    
                                    <div class="listing">
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/city_1.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Aliquam tempor ligula</a>
                                                    <span class="label label-success label-bordered pull-right">City life</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/business_1.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Pellentesque iaculis varius</a>
                                                    <span class="label label-primary label-bordered pull-right">Business</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/city_2.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Nulla tempus malesuada turpis</a>
                                                    <span class="label label-success label-bordered pull-right">City life</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/sport_1.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Etiam iaculis justo scelerisque</a>
                                                    <span class="label label-warning label-bordered pull-right">sport</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/business_3.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Aliquam semper lectus tellus</a>
                                                    <span class="label label-primary label-bordered pull-right">Business</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/city_3.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Maecenas tristique consectetur</a>
                                                    <span class="label label-success label-bordered pull-right">City life</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/business_2.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Suspendisse consectetur</a>
                                                    <span class="label label-primary label-bordered pull-right">Business</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/sport_2.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Curabitur tortor nisiat auctor orci</a>
                                                    <span class="label label-warning label-bordered pull-right">sport</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                    
                                    <div class="app-blog-banner">
                                        <img src="assets/banners/default_728x90.jpg" alt="banner">
                                    </div>

                                    <div class="listing">
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/city_1.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Aliquam tempor ligula</a>
                                                    <span class="label label-success label-bordered pull-right">City life</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/business_1.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Pellentesque iaculis varius</a>
                                                    <span class="label label-primary label-bordered pull-right">Business</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/city_2.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Nulla tempus malesuada turpis</a>
                                                    <span class="label label-success label-bordered pull-right">City life</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/sport_1.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Etiam iaculis justo scelerisque</a>
                                                    <span class="label label-warning label-bordered pull-right">sport</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/business_3.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Aliquam semper lectus tellus</a>
                                                    <span class="label label-primary label-bordered pull-right">Business</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/city_3.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Maecenas tristique consectetur</a>
                                                    <span class="label label-success label-bordered pull-right">City life</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/business_2.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Suspendisse consectetur</a>
                                                    <span class="label label-primary label-bordered pull-right">Business</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="assets/images/news/sport_2.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 padding-top-5">
                                                    <a href="#">Curabitur tortor nisiat auctor orci</a>
                                                    <span class="label label-warning label-bordered pull-right">sport</span>
                                                    <p>In tempor nisl arcu, nec vehicula magna volutpat ac. Proin at auctor orci. Etiam placerat quam sed condimentum ultrices. Donec varius, est quis semper consectetur, odio felis luctus felis, nec posuere metus felis a ex.</p>
                                                    <div>
                                                        <span class="text-muted">July 11, 2016 11:38</span> <a href="#" class="pull-right">Read More...</a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                    
                                    <div class="row margin-bottom-10">
                                        <div class="col-md-4 col-md-offset-4">
                                            <button class="btn btn-default btn-clean btn-block">Load More</button>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-4 hidden-mobile">
                                    <h4 class="text-uppercase text-bold text-lg heading-line-below margin-bottom-20">Popular News</h4>
                                    <div class="listing">
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="assets/images/preview/img-1.jpg" class="img-responsive">                                            
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                    <a href="#">Etiam iaculis justo scelerisque</a>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat velit quis velit tincidunt, ac feugiat lectus mattis.</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-2.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">Maecenas consequat quis quam non convallis</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-3.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">In placerat velit quis velit tincidunt</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-4.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">Etiam iaculis justo scelerisque tonerpous</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-5.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">Curabitur porta, lectus sit amet dapibus sagittis</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-6.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">Aenean dignissim erat et urna sollicitudin</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>                                    
                                        <div class="listing-item margin-bottom-10 text-center">
                                            <button class="btn btn-default btn-clean">All From Popular</button>
                                        </div>
                                    </div>


                                    <div class="app-blog-banner margin-bottom-30">
                                        <img src="assets/banners/default_300x250.jpg" alt="banner">
                                    </div>

                                    <h4 class="text-uppercase text-bold text-lg heading-line-below margin-bottom-20">Videos</h4>

                                    <div class="tile-basic">
                                        <div class="tile-image">
                                            <img src="assets/images/preview/img-7.jpg" alt="">
                                            <div class="tile-image-container">
                                                <span class="label label-danger">New</span>
                                            </div>
                                        </div>
                                        <div class="tile-content tile-content-icon tile-content-condensed-bottom">
                                            <div class="tile-icon">
                                                <span class="icon-play-circle"></span>
                                            </div>                                        
                                            <h5 class="tile-title">Donec dignissim vehicula lobortis</h5>
                                            <span class="tile-subtitle">May 05, 2016 - 25,521 views</span>
                                        </div>
                                    </div>
                                    
                                    <div class="listing">                                        
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-8.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">Maecenas consequat quis quam non convallis</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-9.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">In placerat velit quis velit tincidunt</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-10.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">Etiam iaculis justo scelerisque tonerpous</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="listing-item margin-bottom-10 text-center">
                                            <button class="btn btn-default btn-clean">All From Videos</button>
                                        </div>
                                    </div>

                                    <div class="app-blog-banner">
                                        <img src="assets/banners/default_300x600.jpg" alt="banner">
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <!-- END PAGE CONTAINER -->
                    
                </div>
                <!-- END APP CONTENT -->
                                
            </div>
            <!-- END APP CONTAINER -->            
            
            <!-- START APP FOOTER -->
            <div class="app-footer app-footer-default" id="footer">
                
                <div class="container container-boxed">
                    <div class="app-footer-line">
                        <div class="copyright wide text-center">&copy; 2016 Boooya. All right reserved in the Ukraine and other countries.</div>            
                    </div>
                </div>
                
            </div>
            <!-- END APP FOOTER -->
        </div>        
        <!-- END APP WRAPPER -->                
        
        <!-- START SCRIPTS -->
        <script type="text/javascript" src="js/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/vendor/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/moment/moment.min.js"></script>       
        
        <script type="text/javascript" src="js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap-select/bootstrap-select.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        
        <script type="text/javascript" src="js/vendor/maskedinput/jquery.maskedinput.min.js"></script>
        <script type="text/javascript" src="js/vendor/form-validator/jquery.form-validator.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/noty/jquery.noty.packaged.js"></script>
        
        <script type="text/javascript" src="js/vendor/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/vendor/datatables/dataTables.bootstrap.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/sweetalert/sweetalert.min.js"></script>
        <script type="text/javascript" src="js/vendor/knob/jquery.knob.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap.min.js"></script>
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
        
        <script type="text/javascript" src="js/vendor/sparkline/jquery.sparkline.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/morris/raphael.min.js"></script>
        <script type="text/javascript" src="js/vendor/morris/morris.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="js/vendor/rickshaw/rickshaw.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/isotope/isotope.pkgd.min.js"></script>
        
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/app_plugins.js"></script>
        <script type="text/javascript" src="js/app_demo.js"></script>
        <!-- END SCRIPTS -->
    </body>
</html>