<!DOCTYPE html>
<html lang="en">
    <head>                        
        <title>Boooya - Blog - Single</title>            
        
        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" href="css/styles.css">
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>        
        
        <!-- APP WRAPPER -->
        <div class="app">                       
            
            <!-- START APP CONTAINER -->
            <div class="app-container">                
                <!-- START APP HEADER -->
                <div class="app-header">
                    <div class="container container-boxed">
                        <ul class="app-header-buttons visible-mobile">
                            <li><a href="#" class="btn btn-link btn-icon" data-navigation-horizontal-toggle="true"><span class="icon-menu"></span></a></li>                    
                        </ul>
                        <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">Project</a>
                
                        <ul class="app-header-buttons pull-right">
                            <li>
                                <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                                    <img src="assets/images/users/user_1.jpg" alt="John Doe">
                                    <div class="contact-container">
                                        <a href="#">John Doe</a>
                                        <span>Administrator</span>
                                    </div>
                                    <div class="contact-controls">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown"><span class="icon-cog"></span></button>                        
                                            <ul class="dropdown-menu dropdown-left">
                                                <li><a href="#"><span class="icon-cog"></span> Settings</a></li> 
                                                <li><a href="#"><span class="icon-envelope"></span> Messages <span class="label label-danger pull-right">+24</span></a></li>
                                                <li><a href="#"><span class="icon-users"></span> Contacts <span class="label label-default pull-right">76</span></a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"><span class="icon-exit-right"></span> Log Out</a></li> 
                                            </ul>
                                        </div>                    
                                    </div>
                                </div>
                            </li>        
                        </ul>
                    </div>
                </div>
                <!-- END APP HEADER  -->
                
                <!-- START APP CONTENT -->
                <div class="app-content">
                    <div class="app-navigation-horizontal margin-bottom-15">    
                        <div class="container container-boxed">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#"><span class="icon-earth"></span> Main</a>
                                        <ul>
                                            <li><a href="pages-blog-main.html">Variant 1</a></li>                        
                                            <li><a href="pages-blog-main-2.html">Variant 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="icon-sync"></span> Category</a>
                                        <ul>
                                            <li><a href="pages-blog-category.html">Right Sidebar</a></li>
                                            <li><a href="pages-blog-category-2.html">Left Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="icon-cog"></span> Single</a>
                                        <ul>
                                            <li><a href="pages-blog-single.html">Variant 1</a></li>                        
                                        </ul>
                                    </li>                
                                </ul>
                            </nav>
                        </div>
                    </div>
                                                                                                  
                    <!-- START PAGE CONTAINER -->
                    <div class="container container-boxed">                                                                                                                                                
                                                 
                        <div class="app-heading app-heading-bordered margin-top-0 margin-bottom-15">
                            <div class="title">
                                <h1>Business</h1>
                                <p>A business, also known as an enterprise, agency or a firm.</p>
                            </div>
                            <div class="heading-elements">
                                <ul class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Categories</a></li>
                                    <li class="active">Business</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="block padding-top-15 typography">
                            <h1>A business, also known as an enterprise</h1>
                            <p class="subheader">Date: July 11, 2016 16:51 &mdash; Author: John Doe</p>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio mauris. Phasellus quis est egestas, tristique ex sed, cursus elit. Fusce rutrum tortor urna. Donec blandit mollis congue. Vestibulum iaculis purus orci, id semper ex mattis ut. Ut eu felis nulla. Cras nec metus a justo commodo tempor at eu neque. Aenean ut lectus blandit, cursus odio gravida, vestibulum neque. Aenean ac egestas mi. Sed a leo eu risus congue porttitor. Nulla nisi velit, placerat pulvinar porta nec, imperdiet sit amet sapien.</p>

                            <p>
                                Nulla facilisi. Proin libero nisi, pharetra at ligula ac, condimentum feugiat eros. Sed egestas iaculis purus et ultricies. Duis faucibus est vel urna ornare, ac hendrerit ipsum tristique. Integer eu velit at mi feugiat accumsan id vel mauris. Sed laoreet facilisis elementum. Nulla sed mauris dolor.                            
                                Vestibulum ut odio id dolor rhoncus pulvinar. Praesent ac tristique risus. Sed a tincidunt elit, sed vehicula ante. Quisque porttitor laoreet ligula, eget eleifend neque fermentum in. Fusce a blandit lectus, ullamcorper scelerisque velit. Curabitur lacinia eu tortor id bibendum. Etiam turpis nisl, venenatis sed sem ultricies, malesuada tincidunt elit.
                            </p>                            
                            
                            <div class="row">
                                <div class="col-md-3 col-md-offset-3">
                                    <img src="assets/images/news/business_2.jpg" class="img-responsive">
                                </div>
                                <div class="col-md-3">
                                    <img src="assets/images/news/business_3.jpg" class="img-responsive">
                                </div>
                            </div>
                            
                            <h4 class="text-uppercase text-bold text-rg heading-line-below heading-line-below-short margin-top-20">Heading of new section</h4>
                            
                            <p>Quisque ipsum quam, gravida at metus eu, mollis posuere nibh. Morbi vitae ligula diam. Vestibulum et hendrerit velit. Nunc placerat tincidunt arcu, vel interdum justo. Vestibulum id lacus in risus fringilla consectetur. Sed et augue a lectus suscipit dictum. Vestibulum magna turpis, pretium eget dolor ut, tempor eleifend enim. Curabitur laoreet quam risus, vitae porttitor nunc laoreet sed. Suspendisse non sem eget velit euismod eleifend. Cras quis enim erat. Donec sit amet sollicitudin ligula, sed ultrices turpis. Proin maximus ullamcorper nunc sodales vehicula.</p>

                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                            
                            <p>Integer justo ex, imperdiet ut augue at, semper efficitur lorem. Praesent velit est, venenatis non massa in, malesuada posuere massa. Integer hendrerit, est quis bibendum rutrum, sem neque finibus sapien, non efficitur nibh orci non nibh. Donec sit amet pulvinar orci. Cras semper risus eu nibh consequat, rutrum molestie leo tempus. Sed vel nibh lorem. Curabitur eget eros sagittis nisi sollicitudin pellentesque. Vivamus viverra risus porta facilisis pulvinar.</p>                                                        
                            
                            <h4 class="text-uppercase text-bold text-rg heading-line-below heading-line-below-short margin-top-20">Other section heading</h4>
                            
                            <p>Morbi elit ante, efficitur eu semper a, tempus at ipsum. Mauris tempor nulla facilisis massa posuere ultrices. Duis nisi erat, gravida ut fringilla nec, mattis ut ante. Proin congue mollis nunc quis eleifend. Nulla eget ultrices risus. Ut facilisis magna et viverra accumsan. Ut ac pharetra risus, ullamcorper consectetur turpis. Etiam laoreet aliquet ligula, ac interdum massa sagittis ut. Nulla condimentum suscipit gravida. Phasellus porta turpis sit amet libero pharetra viverra.</p>
                            
                            <ul> 
                                <li>Lorem ipsum dolor sit amet</li> 
                                <li>Consectetur adipiscing elit</li> 
                                <li>Integer molestie lorem at massa</li> 
                                <li>Facilisis in pretium nisl aliquet</li>                                         
                                <li>Faucibus porta lacus fringilla vel</li>                                         
                            </ul>
                            
                            <p>Nulla quis augue volutpat, malesuada justo eget, mattis tellus. Pellentesque hendrerit elit eu fringilla euismod. Ut nulla nunc, porta eget mauris a, rhoncus varius lectus. Nam eget nisi et augue semper sollicitudin ut in justo. Integer eu tortor sed nisl imperdiet varius. Ut viverra felis dolor, pellentesque dictum sem commodo quis. Praesent eget elit arcu. Morbi volutpat risus orci, vel consectetur urna posuere id. Proin nec interdum orci. Duis mattis nibh lobortis, posuere mi eget, eleifend arcu. Vivamus faucibus placerat lobortis.</p>

                            <p>Mauris finibus convallis laoreet. In id lacus et odio aliquam iaculis. Vestibulum diam nisl, lacinia sed neque at, maximus aliquet felis. Pellentesque cursus non est vitae tincidunt. Maecenas id aliquet augue. Vestibulum a tempor arcu. Vestibulum placerat eros sit amet vulputate porta. Morbi non nisl sit amet odio pretium vulputate.</p>
                                                        
                            <p><span class="text-bold">Tags:</span> <span class="label label-default label-bordered">Business</span> <span class="label label-default label-bordered">Economics</span> <span class="label label-default label-bordered">Enviroment</span> <span class="label label-default label-bordered">Europe</span></p>
                            <p>&nbsp;</p>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    
                                    <div class="listing margin-bottom-0">
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-2.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">Maecenas consequat quis quam non convallis</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-4">
                                    
                                    <div class="listing margin-bottom-0">                                
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-3.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">In placerat velit quis velit tincidunt</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="listing margin-bottom-0">                            
                                        <div class="listing-item margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="assets/images/preview/img-4.jpg" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#">Etiam iaculis justo scelerisque tonerpous</a>
                                                    <p class="text-muted">July 11, 2016 11:38</p>
                                                </div>
                                            </div>                                            
                                        </div>                                
                                    </div>
                                </div>
                            </div>                            
                            
                        </div>
                        
                        <div class="block block-arrow-top">
                            <div class="app-heading">
                                <div class="icon">
                                    <span class="icon-bubble-dots"></span>
                                </div>
                                <div class="title">
                                    <h2>Comments</h2>
                                    <p>34 comments to this article</p>
                                </div>                            
                            </div>
                            
                            <div class="messages messages-comments">
                                <div class="messages-item inbox">
                                    <div class="user"><img src="assets/images/users/user_3.jpg" alt=""></div>
                                    <div class="text">Do you sagittis non interdum ut, scelerisque lobortis purus?</div>
                                    <div class="date">Sunday, July 07, 2016 at 15:45</div>
                                </div>
                                <div class="messages-item inbox">
                                    <div class="user"><img src="assets/images/users/user_1.jpg" alt=""></div>
                                    <div class="text">Qui ullamcorper nunc placerat euismod arcu wisi. Wisi at ipsum, etiam placerat quam, nibh vel massa, odio magna tellus dui...</div>
                                    <div class="date">Sunday, July 07, 2016 at 15:45</div>
                                </div>
                                <div class="messages-item inbox">
                                    <div class="user"><img src="img/user/no-image.png" alt=""></div>
                                    <div class="text">Lorem ipsum dolor sit amet, massa rutrum nisl turpis posuere purus ut?</div>
                                    <div class="date">Sunday, July 07, 2016 at 15:45</div>
                                </div>
                                <div class="messages-item inbox">
                                    <div class="user"><img src="assets/images/users/user_1.jpg" alt=""></div>
                                    <div class="text">Ok! Wisi at ipsum, etiam placerat...</div>
                                    <div class="date">Sunday, July 07, 2016 at 15:45</div>
                                </div>
                                <div class="messages-item inbox">
                                    <div class="user"><img src="img/user/no-image.png" alt=""></div>
                                    <div class="text">Ok</div>
                                    <div class="date">Sunday, July 07, 2016 at 15:45</div>
                                </div>
                                <div class="messages-item inbox">
                                    <div class="user"><img src="assets/images/users/user_1.jpg" alt=""></div>
                                    <div class="text">Btw, what do you think about?</div>
                                    <div class="date">Sunday, July 07, 2016 at 15:45</div>
                                </div>
                            </div>                            
                        </div>
                        
                        <div class="block">
                            <div class="app-heading title-only">
                                <div class="icon">
                                    <span class="icon-pencil"></span>
                                </div>
                                <div class="title">
                                    <h2>Leave a Comment</h2>                            
                                </div>                                   
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Comment</label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default">Send Comment</button>
                            </div>
                        </div>
                        
                    </div>
                    <!-- END PAGE CONTAINER -->
                    
                </div>
                <!-- END APP CONTENT -->
                                
            </div>
            <!-- END APP CONTAINER -->            
            
            <!-- START APP FOOTER -->
            <div class="app-footer app-footer-default" id="footer">
                
                <div class="container container-boxed">
                    <div class="app-footer-line">
                        <div class="copyright wide text-center">&copy; 2016 Boooya. All right reserved in the Ukraine and other countries.</div>            
                    </div>
                </div>
                
            </div>
            <!-- END APP FOOTER -->
        </div>        
        <!-- END APP WRAPPER -->                
        
        <!-- START SCRIPTS -->
        <script type="text/javascript" src="js/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/vendor/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/moment/moment.min.js"></script>       
        
        <script type="text/javascript" src="js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap-select/bootstrap-select.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        
        <script type="text/javascript" src="js/vendor/maskedinput/jquery.maskedinput.min.js"></script>
        <script type="text/javascript" src="js/vendor/form-validator/jquery.form-validator.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/noty/jquery.noty.packaged.js"></script>
        
        <script type="text/javascript" src="js/vendor/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/vendor/datatables/dataTables.bootstrap.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/sweetalert/sweetalert.min.js"></script>
        <script type="text/javascript" src="js/vendor/knob/jquery.knob.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap.min.js"></script>
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
        
        <script type="text/javascript" src="js/vendor/sparkline/jquery.sparkline.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/morris/raphael.min.js"></script>
        <script type="text/javascript" src="js/vendor/morris/morris.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="js/vendor/rickshaw/rickshaw.min.js"></script>
        
        <script type="text/javascript" src="js/vendor/isotope/isotope.pkgd.min.js"></script>
        
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/app_plugins.js"></script>
        <script type="text/javascript" src="js/app_demo.js"></script>
        <!-- END SCRIPTS -->
    </body>
</html>